@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 80%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  .sticker {
    stroke: white;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .dark-sticker {
    stroke: gray;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .text-sticker {
    text-shadow:
      rgb(255, 255, 255) 8px 0px 0px,
      rgb(255, 255, 255) 7.93758px 0.997398px 0px,
      rgb(255, 255, 255) 7.7513px 1.97923px 0px,
      rgb(255, 255, 255) 7.44406px 2.93018px 0px,
      rgb(255, 255, 255) 7.02066px 3.8354px 0px,
      rgb(255, 255, 255) 6.4877px 4.68078px 0px,
      rgb(255, 255, 255) 5.85351px 5.45311px 0px,
      rgb(255, 255, 255) 5.12797px 6.14035px 0px,
      rgb(255, 255, 255) 4.32242px 6.73177px 0px,
      rgb(255, 255, 255) 3.44941px 7.21814px 0px,
      rgb(255, 255, 255) 2.52258px 7.59188px 0px,
      rgb(255, 255, 255) 1.55638px 7.84714px 0px,
      rgb(255, 255, 255) 0.565898px 7.97996px 0px,
      rgb(255, 255, 255) -0.433417px 7.98825px 0px,
      rgb(255, 255, 255) -1.42597px 7.87189px 0px,
      rgb(255, 255, 255) -2.39627px 7.63269px 0px,
      rgb(255, 255, 255) -3.32917px 7.27438px 0px,
      rgb(255, 255, 255) -4.21013px 6.80256px 0px,
      rgb(255, 255, 255) -5.02539px 6.22459px 0px,
      rgb(255, 255, 255) -5.76223px 5.54948px 0px,
      rgb(255, 255, 255) -6.40915px 4.78778px 0px,
      rgb(255, 255, 255) -6.95606px 3.95136px 0px,
      rgb(255, 255, 255) -7.39442px 3.05329px 0px,
      rgb(255, 255, 255) -7.71739px 2.10757px 0px,
      rgb(255, 255, 255) -7.91994px 1.12896px 0px,
      rgb(255, 255, 255) -7.9989px 0.132735px 0px,
      rgb(255, 255, 255) -7.95304px -0.865561px 0px,
      rgb(255, 255, 255) -7.78307px -1.85035px 0px,
      rgb(255, 255, 255) -7.49165px -2.80627px 0px,
      rgb(255, 255, 255) -7.08333px -3.71839px 0px,
      rgb(255, 255, 255) -6.56448px -4.57249px 0px,
      rgb(255, 255, 255) -5.94318px -5.35524px 0px,
      rgb(255, 255, 255) -5.22915px -6.05442px 0px,
      rgb(255, 255, 255) -4.43352px -6.65912px 0px,
      rgb(255, 255, 255) -3.5687px -7.15991px 0px,
      rgb(255, 255, 255) -2.6482px -7.54898px 0px,
      rgb(255, 255, 255) -1.68637px -7.82024px 0px,
      rgb(255, 255, 255) -0.698222px -7.96947px 0px,
      rgb(255, 255, 255) 0.300817px -7.99434px 0px,
      rgb(255, 255, 255) 1.29516px -7.89446px 0px,
      rgb(255, 255, 255) 2.2693px -7.67139px 0px,
      rgb(255, 255, 255) 3.20802px -7.32862px 0px,
      rgb(255, 255, 255) 4.09668px -6.87148px 0px,
      rgb(255, 255, 255) 4.92142px -6.30711px 0px,
      rgb(255, 255, 255) 5.66936px -5.64432px 0px,
      rgb(255, 255, 255) 6.32883px -4.89346px 0px,
      rgb(255, 255, 255) 6.88954px -4.06623px 0px,
      rgb(255, 255, 255) 7.34274px -3.17555px 0px,
      rgb(255, 255, 255) 7.68136px -2.23532px 0px,
      rgb(255, 255, 255) 7.90012px -1.26021px 0px,
      rgb(255, 255, 255) 7.9956px -0.265434px 0px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
